@font-face {
  font-family: 'Formata Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Formata Regular'), local('Formata-Regular'), url(../fonts/Formata-Regular.otf) format('otf');
}
@font-face {
  font-family: 'Formata Light';
  font-style: normal;
  font-weight: 400;
  src: local('Formata Light'), local('Formata-Light'), url(../fonts/Formata-Light.otf) format('otf');
}

@font-face {
  font-family: 'Formata';
  font-style: normal;
  font-weight: 700;
  src: local('Formata Bold'), local('Formata-Bold'), url(../fonts/Formata-Bold.otf) format('otf');
}

@font-face {
  font-family: 'Formata';
  font-style: italic;
  font-weight: 400;
  src: local('Formata Italic'), local('Formata-Italic'), url(../fonts/Formata-Italic.otf) format('otf');
}

@font-face {
  font-family: 'Formata';
  font-style: italic;
  font-weight: 700;
  src: local('Formata Bold Italic'), local('Formata-BoldItalic'), url(../fonts/Formata-BoldItalic.otf) format('otf');
}
