<!DOCTYPE html>
<html lang="{{ site.lang }}" prefix="og: http://ogp.me">
  <head>
  <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="/css/formata.css" type='text/css' />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/furtive.min.css">
    <link rel="stylesheet" href="/css/oxymoron.css">
    <link rel="stylesheet" href="/css/screen.css">
    <link rel="stylesheet" href="/css/screen.css">
    <link rel="stylesheet" href="/style.css">

    {% include category-nav.html %}
    {% include feed.html %}
    {% include ogp.html %}
    {% include opds.html %}
	</head>
  <body>
    {{ content }}
  </body>
</html>
